<header class="header-container">

    <div class="header-buttons">
    <button  (click)="navigateTo('peliculas')" class="header-button">
      Peliculas
    </button>

    <button  (click)="navigateTo('altaActor')" class="header-button">
      Alta Actor
     </button>

     <button  (click)="navigateTo('altaPelicula')" class="header-button">
      Alta Pelicula
   </button>

   <button  (click)="navigateTo('actor')" class="header-button">
    Actor
 </button>
   
  </div>
</header>
<router-outlet />